@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

.main {
    width: 250px;
    height: 20vh;
    background-color: #01011d;
    padding: 20px;
    border-radius: 7px;
}

.whitespace {
    white-space: pre-wrap;
    color: blanchedalmond;
    font-family: 'Chivo Mono', monospace;
}